<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front end</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: white">
        <div style="width: 1532px; height: 3125px; left: -16px; top: 2182px; position: absolute">
            <img style="width: 1510px; height: 481px; left: 16px; top: 0px; position: absolute" src="https://via.placeholder.com/1510x481" />
            <img style="width: 1525px; height: 413px; left: 0px; top: 542px; position: absolute" src="https://via.placeholder.com/1525x413" />
            <img style="width: 1502px; height: 572px; left: 23px; top: 1016px; position: absolute" src="https://via.placeholder.com/1502x572" />
            <img style="width: 1525px; height: 575px; left: 7px; top: 1649px; position: absolute" src="https://via.placeholder.com/1525x575" />
            <img style="width: 1511px; height: 831px; left: 16px; top: 2294px; position: absolute" src="https://via.placeholder.com/1511x831" />
        </div>
        <img style="width: 1518px; height: 735px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1518x735" />
        <div style="width: 1192px; height: 450px; left: 162px; top: 148px; position: absolute; background: #EAAEB8">
            <img style="width: 865px; height: 507px; left: 0px; top: -57px; position: absolute" src="https://via.placeholder.com/865x507" />
            <img style="width: 1192px; height: 606px; left: 0px; top: -12px; position: absolute" src="https://via.placeholder.com/1192x606" />
            <div style="width: 397px; height: 249px; left: 633px; top: 156px; position: absolute; background: #FFF8EA; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 5px; overflow: hidden">
                <div style="left: 40px; top: 32px; position: absolute; color: #A12D25; font-size: 37px; font-family: Roboto; font-weight: 700; word-wrap: break-word">The Best Of Japan,<br/>Just For You</div>
                <div style="left: 40px; top: 133px; position: absolute; opacity: 0.62; color: #2C0E1A; font-size: 21px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Spend more, earn miles</div>
                <div style="left: 150px; top: 166px; position: absolute; color: #A21013; font-size: 29px; font-family: Roboto; font-weight: 700; word-wrap: break-word">30%</div>
                <div style="width: 131px; left: 40px; top: 173px; position: absolute; color: #2C0E1A; font-size: 21px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Enjoy up to</div>
                <div style="left: 211px; top: 173px; position: absolute; color: #2C0E1A; font-size: 21px; font-family: Roboto; font-weight: 400; word-wrap: break-word">off</div>
            </div>
        </div>
        <div style="width: 1192px; height: 96px; left: 162px; top: 628px; position: absolute">
            <div style="width: 634px; height: 95px; left: 0px; top: 1px; position: absolute; background: white">
                <div style="left: 34px; top: 22px; position: absolute; color: #33738C; font-size: 19px; font-family: Roboto; font-weight: 600; word-wrap: break-word">Pay with miles</div>
                <div style="left: 34px; top: 54px; position: absolute; color: #4C4C4C; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Show me the products within </div>
                <div style="left: 238px; top: 54px; position: absolute; color: #4C4C4C; font-size: 14px; font-family: Roboto; font-weight: 700; word-wrap: break-word">7,380</div>
                <img style="width: 11px; height: 11px; left: 222px; top: 56px; position: absolute" src="https://via.placeholder.com/11x11" />
            </div>
            <div style="width: 558px; height: 95px; left: 634px; top: 0px; position: absolute; background: #255C62">
                <img style="width: 11px; height: 11px; left: 222px; top: 56px; position: absolute" src="https://via.placeholder.com/11x11" />
                <div style="width: 427px; height: 44px; padding-top: 7px; padding-bottom: 7px; padding-left: 28px; padding-right: 369px; left: 29px; top: 26px; position: absolute; background: white; border-radius: 34px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
                    <div style="width: 30px; height: 30px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                        <div style="width: 23.37px; height: 24.39px; background: #A9A9A9"></div>
                    </div>
                </div>
                <div style="left: 97px; top: 38px; position: absolute; color: #A9A9A9; font-size: 16px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Search your past or next journey </div>
                <div style="width: 29px; height: 29px; left: 405px; top: 36px; position: absolute">
                    <div style="width: 22.96px; height: 12.69px; left: 3.02px; top: 8.46px; position: absolute; background: #2F6A7A"></div>
                </div>
            </div>
            <div style="width: 634px; height: 95px; left: 0px; top: 1px; position: absolute; background: white">
                <div style="left: 34px; top: 22px; position: absolute; color: #33738C; font-size: 19px; font-family: Roboto; font-weight: 600; word-wrap: break-word">Pay with miles</div>
                <div style="left: 34px; top: 54px; position: absolute; color: #4C4C4C; font-size: 14px; font-family: Roboto; font-weight: 400; word-wrap: break-word">Show me the products within </div>
                <div style="left: 238px; top: 54px; position: absolute; color: #4C4C4C; font-size: 14px; font-family: Roboto; font-weight: 700; word-wrap: break-word">7,380</div>
                <img style="width: 11px; height: 11px; left: 222px; top: 56px; position: absolute" src="https://via.placeholder.com/11x11" />
            </div>
            <div style="width: 203px; padding-top: 13px; padding-bottom: 13px; padding-left: 65px; padding-right: 76px; left: 329px; top: 26px; position: absolute; border-radius: 4px; overflow: hidden; border: 1px #316E96 solid; justify-content: flex-start; align-items: center; display: inline-flex">
                <div style="color: #33738C; font-size: 15px; font-family: Roboto; font-weight: 500; word-wrap: break-word">Show me</div>
            </div>
            <div style="width: 34px; height: 34px; left: 1116px; top: 31px; position: absolute">
                <div style="width: 34px; height: 30.60px; left: -0px; top: 1.70px; position: absolute; background: white"></div>
            </div>
            <div style="width: 32px; height: 32px; left: 545px; top: 64px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0">
                <div style="width: 12px; height: 18px; left: 17px; top: 10px; position: absolute; background: #255C62"></div>
                <div style="width: 10px; height: 10px; left: 2px; top: 6px; position: absolute; background: #255C62"></div>
                <div style="width: 3px; height: 2px; left: 2px; top: 20px; position: absolute; background: #255C62"></div>
                <div style="width: 3px; height: 2px; left: 6px; top: 20px; position: absolute; background: #255C62"></div>
                <div style="width: 2px; height: 3px; left: 10px; top: 20px; position: absolute; background: #255C62"></div>
                <div style="width: 2px; height: 3px; left: 2px; top: 27px; position: absolute; background: #255C62"></div>
                <div style="width: 3px; height: 2px; left: 5px; top: 28px; position: absolute; background: #255C62"></div>
                <div style="width: 3px; height: 2px; left: 9px; top: 28px; position: absolute; background: #255C62"></div>
                <div style="width: 2px; height: 3px; left: 2px; top: 23px; position: absolute; background: #255C62"></div>
                <div style="width: 2px; height: 3px; left: 10px; top: 24px; position: absolute; background: #255C62"></div>
            </div>
        </div>
        <div style="width: 1408px; height: 573px; left: 102px; top: 833px; position: absolute">
            <img style="width: 1408px; height: 573px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1408x573" />
            <div style="padding-top: 3px; padding-bottom: 3px; padding-left: 21px; padding-right: 56px; left: 451px; top: 17px; position: absolute; background: white; justify-content: flex-start; align-items: flex-end; gap: 13px; display: inline-flex">
                <div><span style="color: #4C4C4C; font-size: 28px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Enjoy Essence Of </span><span style="color: #255C62; font-size: 28px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Japan</span></div>
                <div style="width: 29px; height: 29px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
                    <div style="width: 22.96px; height: 12.69px; background: #2F6A7A"></div>
                </div>
            </div>
            <div style="padding-left: 104px; padding-right: 135px; left: 37px; top: 88px; position: absolute; background: white; justify-content: space-between; align-items: center; display: flex;">
                <img style="width: 32%; height: 485px" src="https://lifestyle-api.asiamiles.com/medias/X-mas-Gift-Box-Mood-Shot.jpg-AML-Convert-294Wx195H?context=bWFzdGVyfGltYWdlc3wzNDI5NnxpbWFnZS9qcGVnfGFHTTNMMmd6TkM4eE1qUXdPREkxTnpBNE5UUTNNQzlZSjIxaGN5QkhhV1owSUVKdmVDQk5iMjlrSUZOb2IzUXVhbkJuWDBGTlRDMURiMjUyWlhKMExUSTVORmQ0TVRrMVNBfDM5MzIyOTI2NjgwMDAzYTVlNzhmNGFlOGJkOThkY2RiZGY2NzJmOTZjNGM2NDU2YjM4NWVhODg2NjFjYmMwYjA" />
                <img style="width: 32%; height: 485px" src="{{image2}}"/>
                <img style="width: 32%; height: 485px" src="{{image3}}" />
            </div>
        </div>
        <div style="width: 1510px; height: 632px; left: 0px; top: 1435px; position: absolute">
            <img style="width: 1510px; height: 481px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/1510x481" />
            <div style="padding-top: 39px; padding-left: 83px; padding-right: 67px; left: 139px; top: 162px; position: absolute; background: white; justify-content: flex-end; align-items: center; display: inline-flex">
                <img style="width: 1065px; height: 505px" src="https://via.placeholder.com/1065x505" />
            </div>
            <div style="padding-top: 3px; padding-bottom: 3px; padding-left: 21px; padding-right: 16px; left: 602px; top: 88px; position: absolute; background: white; justify-content: flex-end; align-items: center; display: inline-flex">
                <div style="color: #4C4C4C; font-size: 28px; font-family: Roboto; font-weight: 700; word-wrap: break-word">Pay within Your Miles </div>
            </div>
        </div>
    </div>
</body>
</html>